<header class="fixed-top">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="index.html">
                <img src="https://placehold.co/200x50/0066cc/white?text=Maulik" alt="Maulik Logo" class="logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                            Market & Solutions
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="solutions.html#automotive">Automotive</a></li>
                            <li><a class="dropdown-item" href="solutions.html#textiles">Textiles</a></li>
                            <li><a class="dropdown-item" href="solutions.html#pharma">Pharmaceuticals</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="innovation.html">Innovation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="sustainability.html">Sustainability</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="tools.html">Tools & Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="news.html">News</a>
                    </li>
                </ul>
                <div class="search-container">
                    <input type="text" class="search-input" placeholder="Search...">
                    <button class="search-btn">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </nav>
</header>
